﻿@using Groovy_Goober_s_Blackjack_in_Blazor.Models

@code
{
    [Parameter]
    public List<Card> Cards { get; set; }
}

<div>
    @foreach (var card in Cards)
    {
        <BlackjackCard Card="card" />
    }
</div>
